@model IEnumerable<Unifile.Models.MvcModel.MvcImage>

<table>
    <tr>
        <td><img src="@Url.Content("~/Content/imgs/picture.png")" style="width: 70px" /></td>
        <td>
            @if (Model.Any())
            {
                <ul>
                    @foreach (var image in @Model)
                    {
                        <li>
                            <b>
                                @Html.RouteLink(image.Name, new
                           {
                               controller = "ImageAttachment",
                               action = "ShowImage",
                               imageId = image.Id
                           })
                            </b>
                            <br />
                            @Html.ActionLink("download", "DownloadImage", new { imageId = image.Id })
                        </li>
                    }
                </ul>
            }
            else
            {
                <h5 style="padding-left: 20px"><i>Card has no image attachments</i></h5>
            }
        </td>
    </tr>
</table>

